html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 768px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}

.name-container,
.score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.score-container {
  font-size: 3rem;
}
.hyphen {
  font-size: 32px;
}
.announce-message {
  height: 50px;
  padding: 16px;
}

button {
  margin: 0;
  background-color: #5d6467;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #e2e2e2;
  color: #5d6467;
}
