html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  border: 1px solid red;
  width: 768px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}

.name-container,
.score-container {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  /* margin-top: 52px; */
}

.score-container {
  font-size: 3rem;
}
.hyphen {
  font-size: 32px;
}
.announce-message {
  height: 50px;
  padding: 16px;
}
